<a href="https://colab.research.google.com/github/havaledar/CIS1250/blob/main/SD1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Python has several built-in data types that allow you to store data in different formats.

The type() function in Python returns the type of the object passed to it.
``` python
type()
```

## Strings

Strings represent text data. They are defined using single quotes ' or double quotes ".

```python
s = 'This is a string'
print(s)
print(type(s))
```

In [ ]:
# Write your code here:

This is a string
<class 'str'>

You can use indexing and slicing to access parts of a string:
```python
s = 'Hello world!'
print(s[0])
print(s[-1])
print(s[2:5])
```

In [ ]:
# Write your code here:

H
!
llo

Common string methods include:
```python
s = "hello"
print(s.upper())
print(s.lower())
print(s.count('l'))
print(len(s))
```

In [ ]:
# Write your code here:

HELLO
hello
2
5

## Integers

Integers represent whole numbers like 0, 5, -56.

```python
x = 15
print(type(x))
```

In [ ]:
# Write your code here:

<class 'int'>

Common mathematical operations like +, -, *, / work on integers:

```python
x = 5
y = 3
print(x + y)
print(x - y)
print(x * y)
print(x / y)
```

In [ ]:
# Write your code here:

8
2
15
1.6666666666666667

## Floats

Floats represent real numbers with decimals like 3.14, -2.5, 0.3333.

```python
f = 1.5
print(type(f))
```

In [ ]:
# Write your code here:

<class 'float'>

Floats have precision up to 15 decimal places.

```python
f = 0.123456789012345
print(f)
```

In [ ]:
# Write your code here:

0.123456789012345

## Booleans

Booleans represent logical values True and False. They are often used for conditional testing:

```python
a = True
b = False

print(a == b)
print(a and b)
print(a or b)
```

In [ ]:
# Write your code here:

False
False
True

## Lists

Lists store ordered collections of objects.

```python
numbers = [1, 2, 3, 4]
fruits = ['Apples', 'Oranges', 'Bananas']

print(numbers[0])
print(fruits[-1])
```

In [ ]:
# Write your code here:

1
Bananas

Common list operations:

```python
numbers = [1, 2, 3]
numbers.append(4)
numbers.insert(0, 0)
numbers.sort()
print(len(numbers))
```

In [ ]:
# Write your code here:

5



## Dictionaries

Dictionaries map keys to values, like a map or hash table. Defined using curly braces {} with key:value pairs:

```python
person = {
  'first_name': 'John',
  'last_name': 'Doe',
  'age': 30,
  'hobbies': ['reading', 'hiking', 'coding']
}

print(person)
```

In [1]:
# Write your code here:

{'first_name': 'John', 'last_name': 'Doe', 'age': 30, 'hobbies': ['reading', 'hiking', 'coding']}

Access values using keys.
```python
print(person['first_name'])
print(person['hobbies'][1])
```

In [ ]:
# Write your code here:

John
hiking

Add a new key-value pair.
```python
person['job'] = 'Teacher'
print(person)
```

In [ ]:
# Write your code here:

{'first_name': 'John', 'last_name': 'Doe', 'age': 31, 'hobbies': ['reading', 'hiking', 'coding'], 'job': 'Teacher'}

Modify a value

```python
person['age'] = 31
print(person)
```

In [ ]:
# Write your code here:

{'first_name': 'John', 'last_name': 'Doe', 'age': 31, 'hobbies': ['reading', 'hiking', 'coding'], 'job': 'Teacher'}

Check if key exists
```python
print('first_name' in person)
print('salary' in person)
```

In [ ]:
# Write your code here:

True
False

Check if value exists
```python
print('John' in person.values())
```

In [2]:
# Write your code here:

True

Get list of keys
```python
print(person.keys())
```

In [ ]:
# Write your code here:

dict_keys(['first_name', 'last_name', 'age', 'hobbies', 'job'])

Get list of values
```python
print(person.values())
```

In [ ]:
# Write your code here:

dict_values(['John', 'Doe', 31, ['reading', 'hiking', 'coding'], 'Teacher'])

Get key-value pairs
```python
print(person.items())
```

In [ ]:
# Write your code here:

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 31), ('hobbies', ['reading', 'hiking', 'coding']), ('job', 'Teacher')])

Remove a key
```python
person.pop('job')
print(person)
```

In [ ]:
# Write your code here:

{'first_name': 'John', 'last_name': 'Doe', 'age': 31, 'hobbies': ['reading', 'hiking', 'coding']}

Clear all entries
```python
person.clear()
print(person)
```

In [ ]:
# Write your code here:

{}

# Range

The range() function in Python is used to generate a sequence of numbers. It can be used to iterate over a sequence in for loops or to create numeric lists.

The basic syntax of range() is:

```python
range(start, stop, step)
```

Where:

- start: The starting number of the sequence (optional). Defaults to 0.

- stop: Generate numbers up to, but not including this number. Required.

- step: Difference between each number in the sequence (optional). Defaults to 1.

Start
```python
# Default range from 0 to 5
print(list(range(5)))

```

In [ ]:
# Write your code here:

[0, 1, 2, 3, 4]

Stop
```python
# From 1 to 5
print(list(range(1, 6)))
```

In [ ]:
# Write your code here:

[1, 2, 3, 4, 5]

Step
```python
# From 0 to 10 in steps of 2
print(list(range(0, 11, 2)))
```

In [ ]:
# Write your code here:

[0, 2, 4, 6, 8, 10]

We can iterate through a range using a for loop:

```python
for i in range(5):
  print(i)
```

In [ ]:
# Write your code here:

0
1
2
3
4

# For

The for loop in Python is used to iterate over a sequence such as a list, tuple, dictionary, string or other iterable object.

The basic syntax of a for loop is:

```python
for element in iterable:
  # code block to execute
  
```

Where `iterable` can be any iterable object like a list, string etc.

##List

```python
fruits = ['apple', 'banana', 'mango']

for fruit in fruits:
  print(fruit)
```

In [ ]:
# Write your code here:

apple
banana
mango

##String

```python
for letter in 'Hello':
  print(letter)
```

In [ ]:
# Write your code here:

H
e
l
l
o

## Dictionary

Keys:

```python
for key in person:
  print(key)
```

In [7]:
# Write your code here:

first_name
last_name
age
hobbies

Values:

```python
for value in person.values():
    print(value)
```

In [5]:
# Write your code here:

John
Doe
30
['reading', 'hiking', 'coding']

Keys and values:

```python
for key, value in person.items():
    print(f'{key}: {value}')
```

In [10]:
# Write your code here:

first_name :  John
last_name :  Doe
age :  30
hobbies :  ['reading', 'hiking', 'coding']

```python
for key in person:
  print(key, person[key])
```

In [11]:
# Write your code here:

first_name John
last_name Doe
age 30
hobbies ['reading', 'hiking', 'coding']

## Numbers

We can also loop through a range of numbers:

```python
for i in range(5):
  print(i)
```

In [ ]:
# Write your code here:

0
1
2
3
4

# Function

Functions in Python provide a way to group and reuse code. They allow passing data into reusable blocks and return results.

The basic syntax of a function is:

```python
def function_name(parameters):
  """doc string"""
  # code to execute
  return value
```

- `function_name` - name of the function
- `parameters` - arguments passed to the function (optional)
- `doc string` - short description of function (optional)
- `return` - value returned from function (optional)

Functions need to be called to execute:

```python
def greet(name):
  """Print a greeting"""
  print("Hello", name)

greet("John")
```

In [ ]:
# Write your code here:

Hello John

Functions can have multiple parameters:

```python
def sum(a, b):
  return a + b

print(sum(2, 3))
```

In [ ]:
# Write your code here:

5

We can specify default values for parameters:

```python
def increment(number, by=1):
  return number + by

print(increment(2))
print(increment(2, 3))
```

In [ ]:
# Write your code here:

3
5

Lab 6: Factorial

In [ ]:
def factorial(num):
  factorial = 1

  if num < 0:
    print("Number must be positive!")
    return None
  else:
    for i in range(1,num + 1):
      factorial = factorial * i

  return factorial

In [ ]:
factorial(5)

120